{{!-- event info  --}}
<div class="card text-center mx-auto w-75 my-5">
    <div class="card-header"><h3>This Event is Hosted By: {{playDate.user.user_name}}</h3></div>
    <div class="card-body">
        <h5 class="card-title">The event will be held at: {{playDate.location}}</h5>
        <h5 class="card-title">on {{playDate.date}} at {{playDate.time}}</h5>
    </div>
</div>

{{!-- join button --}}
<div class="row justify-content-center">
    <button type="button" id="join-event" class="btn btn-info text-white btn-lg btn-block w-75 mx-2">Click to join the event</button>
</div>

<!-- Attendees List -->
<div class="card-header py-5 my-5 w-75 mx-auto text-center" style="background-color: #748DA6;">Attendees list</div>
<div class="row justify-content-center">
    {{#each playDate.pets as |pet|}}
    <div class="card m-3 w-25">
        <img class="card-img-top" src={{pet.image}} alt="Card image cap">
        <h5 class="card-header text-center">{{pet.pet_name}}</h5>
        <div class="card-body">
            <p class="card-text">Breed: {{pet.breed}}</p>
            <p class="card-text">Age: {{pet.age}}</p>
            <p class="card-text">Owner: {{pet.user.user_name}}</p>
        </div>
    </div>
    {{/each}}
</div>
<script src="/js/joinEvent.js"></script>