<!-- Cards across for each pet owned -->

<div class="text-center rounded m-5 d-flex flex-wrap justify-content-center">
  {{#each pets as |pet|}}<div class="card m-1 text-center " style="width: 15rem;">
    <img class="card-img-top rounded-1 profileImage" src="{{pet.image}}" alt="{{pet.pet_name}}">
    <div class="card-body">
      <h5 class="card-title">{{pet.pet_name}}</h5>
      <p class="card-text">Age: {{pet.age}} <br>Breed: {{pet.breed}}</p>
      <a class="btn btn-info remove-btn">Remove</a>
    </div>
  </div>
  {{/each}}
  
  <div class="card m-1 text-center " style="width: 15rem;">
    <img class="card-img-top rounded-1 " src="/images/default.png" alt="Add Pet">
    <div class="card-body align-self-stretch">
      <h5 class="card-title">Add Pet</h5>
      <p class="card-text">to Profile
      </p>
      <a href="/addpet" class="btn btn-info">Add Pet</a>
    </div>
  </div>
</div>


<!-- Large area for pet owner details -->
<div class="jumbotron border-1 border-dark rounded  p-2 m-5" style="background-color: #D3CEDF;">
  <h1 class="display-6">Hello, {{this.user_name}}</h1>
  <p class="lead"><input class="rounded" type="text" id="name" name="name" value="{{this.user_name}}"></p>
  <p><input class="rounded" type="text" id="email" name="email" value="{{this.email}}"></p>
  <p class="lead">
    <a class="btn btn-info btn-lg" id="update-info" role="button">Update Profile</a>
  </p>
</div>



<!-- list of events created by owner // Click to see attendees -->
<div class="container">
  <div class="row">
    <div class="col">
      <h6 class="border-1 text-center border-dark rounded py-2" style="background-color: #9CB4CC;">Attending</h6>
        {{#each play as |playdates|}}
        <div class="card border-success mx-auto" style="max-width: 18rem;">
          <div class="card-body text-body">
            <h5 class="card-title">Event location: {{playdates.location}}</h5>
            <h5 class="card-title">Event date: {{playdates.date}}</h5>
            <h5 class="card-title">Event time: {{playdates.time}}</h5>
          </div>
          <a href="/event/{{playdates.id}}"><div class="card-footer bg-transparent text-primary text-center">View Event</div></a>
        </div>
        {{/each}}
    </div>
    <div class="col">
      <h6 class="border-1 text-center border-dark rounded py-2" style="background-color: #9CB4CC;">Hosting</h6>
        {{#each playdates as |play|}}
        <div class="card border-success mx-auto" style="max-width: 18rem;">
          <div class="card-body text-body">
            <h5 class="card-title">Event location: {{play.location}}</h5>
            <h5 class="card-title">Event date: {{play.date}}</h5>
            <h5 class="card-title">Event time: {{play.time}}</h5>
          </div>
          <a href="/event/{{play.id}}"><div class="card-footer bg-transparent text-primary text-center">View Event</div></a>
          <a class="del-event" href=""><p hidden>{{play.id}}</p><div class="card-footer bg-transparent text-danger text-center">Delete Event</div></a>
        </div>
        {{/each}}
    </div>
    <div class="w-100"></div>
    <div class="col">{{Event.Name}}</div>
    <div class="col">{{Event.Name}}</div>
  </div>
</div>

    <script src="/js/removePet.js"></script>
    <script src="/js/updateUser.js"></script>
    <script src="/js/deleteEvent.js"></script>
