<!-- Cards across for each pet owned -->

<div class="text-center rounded m-5 d-flex">
  {{#each pets as |pet|}}<div class="card m-1 text-center" style="width: 18rem;">
    <img class="card-img-top rounded-1 " src="{{pet.image}}" alt="{{pet.pet_name}}">
    <div class="card-body">
      <h5 class="card-title">{{pet.pet_name}}</h5>
      <p class="card-text">Age: {{pet.age}} <br>Breed: {{pet.breed}}
      </p>
      <a href="#" class="btn btn-primary">Remove</a>
    </div>
  </div>{{/each}}<div class="card m-1 text-center" style="width: 18rem;">
    <img class="card-img-top rounded-1 " src="/images/default.png" alt="Add Pet">
    <div class="card-body">
      <h5 class="card-title">Add Pet</h5>
      <p class="card-text">to Profile
      </p>
      <a href="/addpet" class="btn btn-primary">Add Pet</a>
    </div>
  </div>
</div>


<!-- Large area for pet owner details -->
<div class="jumbotron border-1 border-dark rounded  p-2 m-5" style="background-color: #D3CEDF;">
  <h1 class="display-6">Hello, {{this.user_name}}</h1>
  <p class="lead"><input class="rounded" type="text" id="name" name="name" value="{{this.user_name}}"></p>
  <p><input class="rounded" type="text" id="email" name="email" value="{{this.email}}"></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Update Profile</a>
  </p>
</div>



<!-- list of events created by owner // Click to see attendees -->
<div class="container border-1 text-center border-dark rounded p-2 m-5" style="background-color: #9CB4CC;">
  <div class="row">
    <div class="col">Attending</div>
    <div class="col">Hosting</div>
    <div class="w-100"></div>
    <div class="col">{{Event.Name}}</div>
    <div class="col">{{Event.Name}}</div>
  </div>
</div>
